/* ---------------------------------------------------------------------
Mixins
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
BREAKPOINTS

$BP_SM: 480px;
$BP_MD: 768px;
$BP_LG: 1024px;
$BP_DESKTOP: 1300px;
------------------------------------------------------------------------ */

@mixin breakpoint($point) {
    @if $point==SM {
        @media (min-width: $BP_SM) {
            @content;
        } // 480px
    } @else if $point==MD {
        @media (min-width: $BP_MD) {
            @content;
        } // 768px
    } @else if $point==LG {
        @media (min-width: $BP_LG) {
            @content;
        } // 1024px
    } @else if $point==DESKTOP {
        @media (min-width: $BP_DESKTOP) {
            @content;
        } // 1300px
    }
}

@mixin constrain(
    $maxWidth: $SITE_MAX_WIDTH,
    $sidePadding: 0,
    $center: false
) {
    max-width: $maxWidth;
    padding-left: $sidePadding;
    padding-right: $sidePadding;

    @if ($center) {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin constrainPage($maxWidth: $BP_LG, $sidePadding: 20px) {
    max-width: $maxWidth;
    padding: 0 $sidePadding;
    margin: 0 auto;
}

@mixin isVisuallyHidden() {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    visibility: hidden;
    color: transparent;
    background-color: transparent;
    position: absolute;
}