/* ---------------------------------------------------------------------
footer:
------------------------------------------------------------------------ */
.footer {
    background: $ACCENT_PRIMARY;
    padding: 10px;
    color: #ffffff;
}

.footer__constrain {
    @include constrainPage();
}
