/* ---------------------------------------------------------------------
footer:
------------------------------------------------------------------------ */
.footer {
    background: $ACCENT_PRIMARY;
    padding: 10px;
    color: #ffffff;
}

.footer__innerWrap {
    @include constrainPage();
}

.footer__layout {
    display: flex;
    & > * {
        width: 50%;
    }
}

.footer__secondary {
}
