/* ---------------------------------------------------------------------
footer:
------------------------------------------------------------------------ */
.footer {
    background: grey;
    padding: 10px;
}

.footer__constrain {
    @include constrainPage();
}
