/* ---------------------------------------------------------------------
Header:
------------------------------------------------------------------------ */
.header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}

.header__main {
    order: 2;
}

.header__mainWrap {
    @include constrainPage();
    padding-top: 25px;
    padding-bottom: 25px;
}

.header__mainLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include breakpoint(MD) {
        align-items: center;
        flex-direction: row;
        align-items: flex-end;
    }
}

.header__mainPrimary {
    margin-bottom: 20px;

    @include breakpoint(MD) {
        margin-bottom: 0;
        margin-right: 20px;
    }
}

.header__utility {
    order: 1;
    background: $BG_DARK;
    padding: 5px;
}

.header__utilityWrap {
    @include constrainPage();
}
