/* ---------------------------------------------------------------------
constrain:
page constraint and padding
------------------------------------------------------------------------ */

.constrain {
    max-width: $BP_LG;
}

.constrain--center {
    margin: 0 auto;
}

.constrain--page {
    padding: 0 20px;
    margin: auto;
}
