/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */
html {
    overflow-y: auto;
    font-size: $FONT_SIZE_DEFAULT;
}

body {
    font-family: $FF_COPY;
    color: $COLOR_DARK;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .25px;

}

img,
picture {
    max-width: 100%;
}
